/* HeroStatsSection.css */

/* General styles for desktop and larger screens */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text-section {
  max-width: 50%;
  text-align: left;
  margin-right: 20px;
  /* margin-bottom: 200px; */
}

.text-section h1 {
  font-size: 2.5em;
  color: black;
}

.text-section p {
  margin: 20px 0;
  color: gray;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.get-started,
.watch-video {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.get-started {
  background-color: black;
  color: white;
}

.watch-video {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.image-section {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 210px;
}

.spiral-image {
  position: absolute;
  top: -20px;
  right: -60px;
  z-index: -1;
  width: 150%;
}

.phones-image {
  width: 450px;
  padding-right: 100px;
  /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); */
}

.achievement-section {
  display: flex;
  /* justify-content: center; */
  width: 100%;
  margin-top: 20px;
}

.achievement-image {
  width: 70%;
}

/* Responsive styles for tablets and mobile devices */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-section {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .buttons {
    justify-content: center;
  }

  .image-section {
    width: 100%;
  }

  .spiral-image {
    position: absolute;
    top: -20px;
    right: -60px;
    width: 150%;
  }

  .phones-image {
    width: 300px;
  }

  .achievement-image {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .text-section h1 {
    font-size: 2em;
  }

  .get-started,
  .watch-video {
    padding: 8px 16px;
  }

  .phones-image {
    width: 250px;
  }

  .achievement-image {
    width: 100%;
  }
}
