.customizable-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.image-container {
  position: relative;
  width: 600px;
  height: 500px;
}

.iphone-image {
  position: relative;
  /* width: 450px; */
  height: 500px;
  /* height: auto; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-container {
  max-width: 500px;
  padding: 20px;
}

.title-container {
  display: flex;
  margin-bottom: 20px;
}

.icon-Customizable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 33px;
  background: url("../../../assets/elipse.png") no-repeat center center;
  background-size: contain;
  border-radius: 50%;
  margin-right: 10px;
}

.icon-circle {
  font-size: 26px;
}

h2 {
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 768px) {
  .customizable-container {
    flex-direction: column;
    text-align: center;
  }

  .image-container {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
  }

  .iphone-image {
    width: 100%;
    height: auto;
  }

  .text-container {
    align-items: center;
  }
}
